include README.md
include LICENSE
include requirements.txt
recursive-include distributed_gptq *.py
recursive-include docs *.md *.rst *.txt *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude examples *
